# Eclipse
bin/
.settings/
.project
.classpath
.factorypath
/apt_generated/

# IDEA
.idea/
*.iml

# Mac
.DS_Store

# Windows
Thumbs.db

# Android
gen/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/
hs_err_pid*
eclipse/plugins/com.darwino.domino.updatesite/artifacts.jar
eclipse/plugins/com.darwino.domino.updatesite/content.jar
eclipse/plugins/com.darwino.domino.updatesite/features/
eclipse/plugins/com.darwino.domino.updatesite/plugins/
